:root {
  --navbar-color: white;
  --small-card-width: max(450px, 28vw);
  --active-theme-color: crimson;
  --body-width: calc(2 * var(--small-card-width) + 1rem);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  /* max-width: var(--body-width); */
  max-width: 90%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--navbar-color);
  justify-content: space-between;
  margin: auto;
  padding-inline: 25vw;
  text-align: center;
  position: sticky;
  top: 0;
}

.navbar-wrapper * {
  cursor: pointer;
}

.navbar-wrapper input {
  cursor: text;
  width: max(20vw, 300px);
  padding: 0.5rem;
}

.navbar-brand {
  font-family: "Six Caps", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}

.cart-indicator {
  color: var(--active-theme-color);
  display: none;
  background-color: var(--active-theme-color);
  width: 20px;
  height: 20px;
  padding: 1rem;
}

/* login modal */
dialog {
  background-color: var(--active-theme-color);
  text-align: center;
  /* aspect-ratio: 1; */
}

dialog::backdrop {
  background-color: #00000050;
}

.modal-main {
  margin: auto;
  padding: 2rem;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
dialog {
  border-radius: 10px;
}
dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

dialog form * {
  margin: auto;
  width: 250px;
}
dialog form input {
  border-radius: 5px;
}
dialog button {
  border-radius: 5px;
}

/* main page */
.horizontal-list {
  max-width: 100%;
  margin: auto;
  max-height: fit-content;
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1rem;
  /* overflow-y: auto; */
  /* scroll-behavior: smooth; */
}

/* listing */

.normal-card {
  cursor: pointer;
  font-style: italic;
}

/* .card-img{} */

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(2 * var(--small-card-width) + 5rem);
  margin-inline: auto;
  gap: 1rem;
  overflow-y: auto;
  max-height: calc(100vh - 275px);
}

.small-card {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  width: var(--small-card-width);
  gap: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 0.3rem;
}

.small-card img,
.item-img {
  /* width: max(120px, 15vw);
  aspect-ratio: 1 !important; */
  width: 190px;
  height: 100%;
  object-fit: cover;
}

.small-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: cursive;
}

/* details page */
.detailed-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: max(400px, 50vw);
  margin-inline: auto;
  gap: 1rem;
  border-radius: 15px;
}

.detailed-description img {
  /* object-fit: scale-down; */
  object-fit: cover;
  margin: 0px 150px;
  width: auto;
}

.detailed-description .price {
  color: var(--active-theme-color);
  font-weight: 700;
}

/* create account page */

.create-account-form {
  display: flex;
  gap: 1rem;
  width: 80%;
  margin: auto;
  flex-direction: column;
  /* background-image: url("https://assets.licious.in/oms/366650bb-0186-58cd-9ed6-386f1302f28e/original/1717760917628.png"); */
  background-color: #b8b3b3;

  padding-block: 8rem;
}

.create-account-form *:not(button) {
  width: 300px;
  margin: auto;
  border-radius: 3px solid red;
}

.create-account-form input {
  border-radius: 7px;
  padding: 5px 3px;
  width: 40%;
}

/* add to cart */
.add-to-cart-btn,
.active-color-btn {
  background-color: var(--active-theme-color);
  color: white;
  max-width: max-content;
}

.page-title-heading {
  display: flex;
  justify-content: flex-start;
  padding-block: 1rem;
  border-bottom: 2px solid;
  border-top: 2px solid;
  margin-bottom: 1rem;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

.checkout-btn {
  background-color: rgb(247, 42, 70);
  font-size: 1.5rem;
  margin-left: 80%;
}

.checkout-btn-highlight {
  position: fixed;
  bottom: 5rem;
  right: 50vw;
  transform: translate(50%);
  padding: 1rem;
  background-color: #88888850;
  box-shadow: 0 0 10px 20px #88888850;
}

.radio-flexbox {
  display: flex;
  justify-content: space-evenly;
}

.radio-flexbox button {
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px rgb(83, 81, 81);
  background-color: rgb(247, 42, 70);
  color: white;
}
.center-btn {
  margin-inline: auto;
}

/* search */
#search-input {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(237, 234, 234);
}
